.cont{
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: aqua;
    display: flex;
    margin-left: 100px;
}

.nav{
    position: fixed;
    background-color: black;
    border-right: 1px solid midnightblue;
    display: flex;
    flex-direction: row;
    color: white;
    height: 100%;
    width: 100px;
    justify-content: space-around;
    overflow: hidden;
    left: 0;
}

.big{
    margin: 100px;
    height: 400px;
}

.box{
    display: flex;
    
}

.sbox{
    margin: 80px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
}